#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.time-field {
  display: inline;
  margin-bottom: 10px;
}

.all-time-fields {
  margin-bottom: 50px;
}

.gradient-text {
  background: linear-gradient(to right, #FFE564, #64FF9D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#total-time {
  font-size: 1.5rem;
}