#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.time-field {
  display: inline;
}

.time-field-container {
  margin-bottom: 1.5rem;
}

.all-time-fields{
  margin-bottom: 50px;
}

.gradient-text {
  background-image: linear-gradient(to right, #FFE564, #64FF9D);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delete {
  display: inline;
  color: hsl(93,82%,73%);
}

.golden {
  color: #FFE564;
}

.melon {
  color: #64FF9D;
}

#total-time {
  font-size: 1.5rem;
}

@media (prefers-color-scheme: light) {
.gradient-text {
  background-image: linear-gradient(to right, #FDBE00, 60%, #21FB71);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  .golden {
    color: #FDBE00;
  }

  .melon {
    color: #21FB71;
  }

  .delete {
  display: inline;
  color: #a9d52c;
}
}