#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.time-field-container {
  margin-bottom: 1.5rem;
}

.all-time-fields {
  margin-bottom: 50px;
}

.gradient-text {
  background-image: linear-gradient(to right, #ffe564, #64ff9d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delete {
  display: inline;
  color: hsl(93, 82%, 73%);
}

.golden {
  color: #ffe564;
}

.melon {
  color: #64ff9d;
}

.radio-group {
  margin: 3rem 0;
}

#total-time {
  font-size: 1.5rem;
}

@media (prefers-color-scheme: light) {
  .gradient-text {
    background-image: linear-gradient(to right, #fdbe00, 60%, #21fb71);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .golden {
    color: #fdbe00;
  }

  .melon {
    color: #21fb71;
  }

  .delete {
    display: inline;
    color: #a9d52c;
  }
}
